<div>
  <div *ngIf="findFieldSetting('phone')">
    <app-combo-phone
      [fieldSettings]="fieldSettings"
      [inputForm]="inputFormGroup"
    >
    </app-combo-phone>
  </div>
  <div *ngIf="findFieldSetting('radioText')">
    <app-combo-radio-text
      [fieldSettings]="fieldSettings"
      [inputForm]="inputFormGroup"
    >
    </app-combo-radio-text>
  </div>
  <div *ngIf="findFieldSetting('address')">
    <app-combo-address
      [fieldSettings]="fieldSettings"
      [inputForm]="inputFormGroup"
    >
    </app-combo-address>
  </div>
  <div *ngIf="findFieldSetting('listBasic')">
    <app-list [fieldSettings]="fieldSettings" [inputForm]="inputFormGroup">
    </app-list>
  </div>
  <div *ngIf="findFieldSetting('listPopup')">
    <app-list-pop [fieldSettings]="fieldSettings" [inputForm]="inputFormGroup">
    </app-list-pop>
  </div>
</div>
