<div>
  <div class="row">
    <span>
      {{ getSettingByGroupType("phone-number").cname }}
    </span>
    <div class="col-3">
      <app-field
        [fieldSetting]="getSettingByGroupType('phone-area')"
        [control]="getControl(inputForm, 'phone-area')"
      ></app-field>
    </div>
    -
    <div class="col-4">
      <app-field
        [fieldSetting]="getSettingByGroupType('phone-area')"
        [control]="getControl(inputForm, 'phone-area')"
      ></app-field>
    </div>
    #
    <div class="col-4">
      <app-field
        [fieldSetting]="getSettingByGroupType('phone-area')"
        [control]="getControl(inputForm, 'phone-area')"
      ></app-field>
    </div>
  </div>
</div>
