<div [ngSwitch]="fieldSetting.inputType">
  <div *ngSwitchCase="'text'">
    <app-base-text
      [fieldSetting]="fieldSetting"
      [fieldObj]="fieldObj"
    ></app-base-text>
  </div>
  <div *ngSwitchCase="'tel'">
    <app-base-tel
      [fieldSetting]="fieldSetting"
      [fieldObj]="fieldObj"
    ></app-base-tel>
  </div>
  <div *ngSwitchCase="'number'">
    <app-base-number
      [fieldSetting]="fieldSetting"
      [fieldObj]="fieldObj"
    ></app-base-number>
  </div>
  <div *ngSwitchCase="'password'">
    <app-base-password
      [fieldSetting]="fieldSetting"
      [fieldObj]="fieldObj"
    ></app-base-password>
  </div>
</div>
