<div [ngSwitch]="fieldSetting.inputType">
  <div *ngSwitchCase="'text'">
    <app-base-text [placeholder]="fieldSetting.placeholder"></app-base-text>
  </div>
  <div *ngSwitchCase="'tel'">
    <app-base-tel [placeholder]="fieldSetting.placeholder"></app-base-tel>
  </div>
  <div *ngSwitchCase="'number'">
    <app-base-number [placeholder]="fieldSetting.placeholder"></app-base-number>
  </div>
  <div *ngSwitchCase="'password'">
    <app-base-password
      [placeholder]="fieldSetting.placeholder"
    ></app-base-password>
  </div>
</div>
