<div [ngSwitch]="fieldSetting.inputType">
  <div *ngSwitchCase="'text'">
    <app-base-text
      [fieldSetting]="fieldSetting"
      [control]="control"
    ></app-base-text>
  </div>
  <div *ngSwitchCase="'tel'">
    <app-base-tel
      [fieldSetting]="fieldSetting"
      [control]="control"
    ></app-base-tel>
  </div>
  <div *ngSwitchCase="'number'">
    <app-base-number
      [fieldSetting]="fieldSetting"
      [control]="control"
    ></app-base-number>
  </div>
  <div *ngSwitchCase="'password'">
    <app-base-password
      [fieldSetting]="fieldSetting"
      [control]="control"
    ></app-base-password>
  </div>
  <div *ngSwitchCase="'select'">
    <app-base-select
      [fieldSetting]="fieldSetting"
      [control]="control"
    ></app-base-select>
  </div>
  <div *ngSwitchCase="'radio'">
    <app-base-radio
      [fieldSetting]="fieldSetting"
      [control]="control"
    ></app-base-radio>
  </div>
  <div *ngSwitchCase="'checkbox'">
    <app-base-checkbox
      [fieldSetting]="fieldSetting"
      [control]="control"
    ></app-base-checkbox>
  </div>
</div>
